dot/vim/bundle
xmonad.errors
xmonad-*-linux
.ghc.environment.*

# Created by http://www.gitignore.io

### Linux ###
*~

# KDE directory preferences
.directory


#!! ERROR: mac is undefined. Use list command to see defined gitignore types !!#

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
# Created by http://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two .
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
